/* MOBILE STYLES */


@media only screen
and (max-width : 1050px) {

  .main.flex-item--left {
    flex: 0 0 100%;
  }


}




@media only screen
and (max-width : 1330px) {


}


@media only screen
and (max-width : 1200px) {


}


@media only screen
and (max-width : 1050px) {


}


@media only screen
and (max-width : 940px) {

body {
  font-size: 17px;
}

.nav-link , .project-title , .about-item--left {
  font-size: .65rem;
}

.image-caption__container {
  font-size: .5rem;
}

}


@media only screen
and (max-width : 840px) {


}

@media only screen
and (max-width : 767px) {

  .image-caption__container {
    width: 100%;
  }

}


@media only screen
and (max-width : 736px)
and (orientation : landscape) {


}



@media only screen
/* and (min-width: 320px) */
and (max-width : 736px)
and (orientation : portrait) {



}



@media only screen
and (max-width : 645px) {

/* TURN OFF CURSOR IMAGE */
.hover {
  display: none;
}

/* HEADER STACKED */

.header-content__container {
  flex-direction: column;
}

.flex-item--right {
  text-align: left;
  margin-top: 5px;
}

.header-item--right .nav-link {
  margin-left: 0px;
  margin-right: 20px;
}

/* FULL WIDTH SQUARE/NARROW IMAGES */

.project__image--half {
  width: 100%;
}

}


@media only screen
and (max-width : 580px) {

}


@media only screen
and (max-width : 600px) {


}


@media only screen
and (max-width : 450px) {

}
